.cover-slider-container {
    
    display: inline-flex;
    position: relative;

    div {
    
        transition-duration: 1s;
        position: absolute;

        &.previous {
            opacity: 0;
            transform: translate3d(-210px, 0, 0);
        }

        &.current {
            position: relative;
            transform: translate3d(0, 20px, 0);
        }

        &.next {
            opacity: 0;
            transform: translate3d(210px, 0, 0);
        }

        img {
            max-width: 200px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
}