ul {
    
    padding: 0;

    li {
        width: 95%;
        padding: 5px;
        list-style: none;
        cursor: pointer;
        display: inline-block;
        color: #f5f6fa;
        background-color: #273c75;

        &.active {
            font-weight: bold;
            background-color: black;
            color: #f5f6fa;
        }

        .index-track {
            margin-right: 10px;
            float: left;
        }

        .title-track {
            margin-right: 20px;
            float: left;
        }

        .artist-track {
            margin-right: 10px;
            float: right;
        }
    }
}