.playlist-container {

    background-color: rgba(0, 0, 0, .4);
    transition-duration: 1s;
    
    opacity: 0;
    height: 0;
    max-height: 386px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    
    &.open {
        opacity: 1;
        height: 386px;
    }

    ul {
        
        padding: 0;
        margin: 0;
        
        li {
            padding: 5px;
            list-style: none;
            cursor: pointer;
            display: inline-block;
            color: #f5f6fa;
            width: 97%;

            &.active {
                font-weight: bold;
                color: #05c46b;
            }

            .index-track {
                margin-right: 10px;
                float: left;
            }

            .title-track {
                margin-right: 4px;
                float: left;
            }

            .artist-track {
                margin-right: 10px;
                float: left;
            }

            .playing-svg {
                float: right;
                img {
                    width: 20px;
                }
            }
        }
    }
}

img {
    &.playlist {
        position: absolute;

        width: 20px;
        cursor: pointer;
        top: 400px;
        left: 26px;
    }
}