.container-player {
    
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    width: 300px;
    transition-duration: 3s;

    .cover-container {
        
        padding-top: 40px;
        padding-bottom: 40px;
        overflow: hidden;
    }
    .container-informations-track {

        color: white;
        font-family: sans-serif;

        .title-track {
            font-size: 1.4em;
        }

        .artist-name-track {
            padding-top: 5px;
            font-size: 1em;
            font-weight: 100;

            margin-bottom: 10px;
        }

        .timer-track {
            margin-bottom: 20px;
        }
    }

    .controllers-player {
        
        color: white;
        display: inline-flex;

        .previous-track {
            cursor: pointer;
            padding: 0 10px;
            float: left;
        }
        .play-pause-track {
            cursor: pointer;
            padding: 0 10px;
            float: left;
        }
        .next-track {
            cursor: pointer;
            padding: 0 10px;
            float: left;
        }
    }
}