<audio [src]="currentTrack.link" #audioPlayer></audio>
<div class="container-player" [ngStyle]="getBackgroundColored()">

    <div class="cover-container">
        <img class="cover" [src]="currentTrack.cover" alt="">
    </div>

    <div class="container-informations-track">
        <div class="title-track no-select">
            {{ currentTrack.title }}
        </div>

        <div class="artist-name-track no-select">
                {{ currentTrack.artist }}
        </div>

        <div #timeLineTrack class="timeline-track">
            <input class="no-select" type="range" min="0" max="{{duration}}" value="{{currentTime}}">
        </div>

        <div class="timer-track no-select">
            {{ currentTime | secondsToMinutes}}
        </div>
    </div>

    <div class="controllers-player">
        <div (click)='previousSong();' class="previous-track">
            <<
        </div>
        <div (click)='playBtnHandler();' class="play-pause-track">
            {{ playPauseValue }}
        </div>
        <div (click)='nextSong();' class="next-track">
            >>
        </div>
    </div>
    <div class="clear"></div>

    <playlist class="container no-select"></playlist>
</div>