<div class="container-player" [ngStyle]="getBackgroundColored()">

    <div class="cover-container">
        <coverslider #coverSlider [playlistTrack]="playlistTrack"
             >
        </coverslider>
        <!-- <img class="cover" [src]="playlistTrack.current.cover" alt=""> -->
    </div>

    <div class="container-informations-track">
        <div class="title-track no-select">
            {{ playlistTrack[1].title }}
        </div>

        <div class="artist-name-track no-select">
                {{ playlistTrack[1].artist }}
        </div>

        <div #timeLineTrack class="timeline-track">
            <input class="no-select" type="range" min="0" max="{{duration}}" value="{{currentTime}}">
        </div>

        <div class="timer-track no-select">
            {{ currentTime | secondsToMinutes}}
        </div>
    </div>

    <div class="controllers-player">
        <div (click)='previousSong();' class="previous-track no-select">
            <<
        </div>
        <div (click)='playBtnHandler();' class="play-pause-track no-select">
            {{ playPauseValue }}
        </div>
        <div (click)='nextSong();' class="next-track no-select">
            >>
        </div>
    </div>
    <div class="clear"></div>

    <playlist class="container no-select"></playlist>
    
    <audio [src]="playlistTrack[1].link" #audioPlayer></audio>
</div>